<div id="container">
  <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
      <div class="dashboard-options">
        <div class="dashboard-label">
          <strong>Dashboard</strong>
        </div>
        <div class="dashboard-option">
          <img [src]="icMenuBold" alt="icMenuBold" />
        </div>
        <div class="dashboard-option">
          <img [src]="icMenuBlocks" alt="icMenuBlocks" />
        </div>
        <div class="dashboard-option">
          <img [src]="icFilter" alt="icFilter" />
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <ion-item>
        <div class="img-container-block">
          <img [src]="sales" alt="Sales" />
        </div>
        <ion-label>Sales</ion-label>
        <div class="img-container-block-next">
          <img [src]="next" alt="Next" />
        </div>
      </ion-item>
    </mat-grid-tile>
    <mat-grid-tile>
      <ion-item>
        <div class="img-container-block">
          <img [src]="support" alt="Sales" />
        </div>
        <ion-label>Services</ion-label>
        <div class="img-container-block-next">
          <img [src]="next" alt="Next" />
        </div>
      </ion-item>
    </mat-grid-tile>
    <mat-grid-tile>
      <ion-item>
        <div class="img-container-block">
          <img [src]="marketing" alt="Sales" />
        </div>
        <ion-label>CPO</ion-label>
        <div class="img-container-block-next">
          <img [src]="next" alt="Next" />
        </div>
      </ion-item>
    </mat-grid-tile>
    <mat-grid-tile>
      <ion-item>
        <div class="img-container-block">
          <img [src]="chart" alt="Sales" />
        </div>
        <ion-label>Collision</ion-label>
        <div class="img-container-block-next">
          <img [src]="next" alt="Next" />
        </div>
      </ion-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
