$color-primary: #4ba0f9;

ion-tabs {
  background: #f7f7f7;
  position: fixed;

  ion-tab-bar {
    --background: white;
    padding: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top: 0;

    ion-tab-button {
      margin: 0px 8px;
    }
  }
}

ion-menu {
  position: fixed;
}

div.menu-top {
  background: url(/assets/images/top.svg) no-repeat 47% 47%;
  height: 250px;
  div.toggle-menu {
    text-align: right;
    padding: 20px;
  }
  div.user-avator {
    text-align: center;
    width: 65px;
    height: 65px;
    background: white;
    border-radius: 10px;
    margin-left: 40px;
    img {
      margin: 12px auto;
    }
  }
  div.user-info {
    margin-left: 40px;
    color: white;
  }
}
div.menu-content {
  div.option {
    display: flex;
    width: 250px;
    padding: 40px 40px 0px;

    ion-label {
      padding-left: 40px;
      color: $color-primary;
      width: 150px;
      font-weight: bold;
    }
  }
  div.logout {
    display: flex;
    width: 250px;
    padding: 20px 40px 0px;

    ion-label {
      padding-left: 40px;
      width: 150px;
    }
  }
}
