<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="tabs[0].redirect">
      <img [src]="tabs[0].icon" [alt]="tabs[0].redirect" />
      <ion-label>{{tabs[0].name}}</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tabs[1].redirect">
      <img [src]="tabs[1].icon" [alt]="tabs[0].redirect" />
      <ion-label>{{tabs[1].name}}</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tabs[2].redirect">
      <img [src]="tabs[2].icon" [alt]="tabs[0].redirect" />
      <ion-label>{{tabs[2].name}}</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tabs[3].redirect">
      <img [src]="tabs[3].icon" [alt]="tabs[0].redirect" />
      <ion-label>{{tabs[3].name}}</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tabs[4].redirect">
      <img [src]="tabs[4].icon" [alt]="tabs[0].redirect" />
      <ion-label>{{tabs[4].name}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
