$color-primary: #4ba0f9;

ion-content {
  --background: #f7f7f7;
}
div.menu-top {
  background: url(/assets/images/top.svg) no-repeat 47% 47%;
  height: 250px;
  div.toggle-menu {
    text-align: right;
    padding: 20px;
  }
  div.user-avator {
    text-align: center;
    width: 65px;
    height: 65px;
    background: white;
    border-radius: 10px;
    margin-left: 40px;
    img {
      margin: 12px auto;
    }
  }
  div.user-info {
    margin-left: 40px;
    color: white;
  }
}
div.menu-content {
  div.option {
    display: flex;
    width: 250px;
    padding: 40px 40px 0px;

    ion-label {
      padding-left: 40px;
      color: $color-primary;
      width: 150px;
      font-weight: bold;
    }
  }
  div.logout {
    display: flex;
    width: 250px;
    padding: 20px 40px 0px;

    ion-label {
      padding-left: 40px;
      width: 150px;
    }
  }
}
